h1 {
  color: blue; }

.BgCarrousel, .ImgMain, .ImgSec, .ImgThird {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e7e7e7; }

.ImgMain {
  background-image: url(../pictures/Buzo1.jpg); }

.ImgSec {
  background-image: url(../pictures/CamperaRompevientoMujer1.jpg); }

.ImgThird {
  background-image: url(../pictures/Camperon1.jpg); }
