.BgCarrousel, .ImgMain, .ImgSec, .ImgThird {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e7e7e7; }

.ImgMain {
  background-image: url(../pictures/Buzo1.jpg); }

.ImgSec {
  background-image: url(../pictures/CamperaRompevientoMujer1.jpg); }

.ImgThird {
  background-image: url(../pictures/Camperon1.jpg); }

.bt {
  width: 100px;
  height: 40px;
  background-color: rgba(53, 53, 53, 0.849);
  border: none;
  border-radius: 40%; }

.bt:hover {
  background-color: #C8C8C8;
  transition: 1.5s; }
