h1{
    color: blue
}


.ImgsCaruosel{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
}

.AjusteCarrusel{
    width: 100vw;
    height: 400px;
}

