

// Extends

.BgCarrousel{
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(231, 231, 231);
}

// Carrousel

.ImgMain{
    background-image: url(../pictures/Buzo1.jpg);
    @extend .BgCarrousel;
}

.ImgSec{
    background-image:url(../pictures/CamperaRompevientoMujer1.jpg);
    @extend .BgCarrousel;
}

.ImgThird{
    background-image:url(../pictures/Camperon1.jpg);
    @extend .BgCarrousel;
}

//  boton

.bt{
    width: 100px;
    height: 40px;
    background-color:rgba(53, 53, 53, 0.849);
    border: none;
    border-radius: 40%;

}
.bt:hover{background-color:#C8C8C8;
    transition: 1.5s;
}


// .busqueda{
//     width:350px;
//     display: flex;
//     justify-content: flex-end;
// }:    width: 90px;
    // height: 37px;